<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GTTN Angular-Leaflet Prototype</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css"/>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.label/dist/leaflet.label.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />

    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <!-- leaflet -->
    <script src="bower_components/leaflet-dist/leaflet.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="bower_components/Leaflet.label/dist/leaflet.label.js"></script>
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <!-- bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- assume jquery is included through npm package -->

    <!-- angular app -->
    <script src="js/app.js"></script>

    <script>

        var taxonData = {
            species:[
                {
                    name: "Swietenia",
                    link:"./models/Swietenia_GeoJSON.json",
                    visible:false
                },
                {
                    name:"Milicia",
                    link:"./models/Milicia_GeoJSON.json",
                    visible:false
                },
                {
                    name:"Entandrophragma",
                    link:"./models/Entandrophragma_GeoJSON.json",
                    visible:false
                }],
            getSpecies: function(speciesName){
                var auth = this; // wor karound
                // TODO handle failure case
                return auth.species.filter(
                        function(species){ return species.name === speciesName }
                )[0];
            }
        };

        var gttnMap = angular.module("gttnMap", ['leaflet-directive']);
        gttnMap.controller("MapController", [ "$scope", "$http", "leafletData", function($scope, $http, leafletData) {

            // 0) Set up application parameters

            // Not databound - set as var (not that it makes it more inclusive)
            var Marker = function(){
                this.lat = 0.0
                this.lng = 0.0
                this.message = '' // can be html
                this.focus = true
                this.draggable = false
            };
            $scope.taxonData = taxonData;
            $scope.markerCache = {};

            // 1) AJAX Call
            // TODO: Hook up to a typeahead bar
            // TODO: Replace with jQuery call
            // This function will set all of the parameters in the Angular scope as necessary. It's tempting just to move to $http over $.ajax.

            // i) Define dataset parsing method (add markers)
            $scope.geoJsonToMarker = function (taxonName, FeatureCollection){

                var taxonType   = $scope.taxonData.getSpecies(taxonName).type;
                var ftrcl       = FeatureCollection;
                var features    = ftrcl.features;

                // add Points
                for (var i = 0; i < features.length; i++) {

                    var point = new Marker();
                    var ftr = features[i];

                    point.group     = 'species';
                    point.message   = ftr.id;
                    point.lat       = ftr.geometry.coordinates[1];
                    point.lng       = ftr.geometry.coordinates[0];
                    point.label     = { message: ftr.properties.taxon, options: { noHide: true }}; // TODO: Necessary property?

                    $scope.markerCache[taxonName + '_' + i] = point;
                }

            };

            // Intermezzo - GeoJSON centering Function
                // It's a part of the optimizations to zoom in to the bounds - by limiting the points that can be seen for the sample,
                // we can focus on the points we need more quickly.
                // NB: Replacing reference to geoJson scope val with an argument, since I don't use that particular functionality
            $scope.centerJSON = function(geoJsonData) {
                leafletData.getMap().then(function(map) {
                    var latlngs = [];
                    for (var i in geoJsonData.features[0].geometry.coordinates) {
                        var coord = geoJsonData.features[0].geometry.coordinates[i];
                        for (var j in coord) {
                            var points = coord[j];
                            for (var k in points) {
                                latlngs.push(geoJsonData.coordsToLatLng(points[k]));
                            }
                        }
                    }
                    map.fitBounds(latlngs);
                });
            };

            // ii) Define marker remove method
            $scope.removeMarker = function (taxonName, FeatureCollection){
                var ftrcl       = FeatureCollection;

                var features = ftrcl.features;
                for (var i = 0; i < features.length; i++) {
                    if ($scope.markerCache[taxonName + '_' + i]){
                        delete $scope.markerCache[taxonName + '_' + i]
                    }
                };
            };

            // Access and Delete Samples
            $scope.accessSample = function (taxonName) {
                var sampleURL = $scope.taxonData.getSpecies(taxonName).link;

                // TODO: refactor this into taxonData object
                $http.get(sampleURL).success(function (data, status) {
                    var sampleData = data;
                    $scope.geoJsonToMarker(taxonName, sampleData);
                    $scope.centerJSON(sampleData)
                });
            };

            $scope.deleteSample = function(taxonName){
                var sampleURL = $scope.taxonData.getSpecies(taxonName).link;

                // TODO: refactor this into taxonData object
                $http.get(sampleURL).success(function (data, status) {
                    var sampleData = data;
                    $scope.removeMarker(taxonName, sampleData)
                });
            };

            $scope.toggleSample = function (taxonName){
                // if has taxonID from taxonName
                if( ( taxonName+"_"+0 ) in $scope.markerCache ){
                    $scope.deleteSample(taxonName);
                } else if( !(( taxonName+"_"+0 ) in $scope.markerCache)) {
                    $scope.accessSample(taxonName);
                }
            };


        }]);
    </script>

</head>



<body>
    <div ng-controller="MapController">
        <!-- map elements -->
        <leaflet width="640px" height="480px" geojson="geojson" markers="markerCache"></leaflet>

        <br>

        <input ng-model="speciesQuery"/>
        <div ng-repeat="species in taxonData.species | filter:speciesQuery| filter:!species.visible">
            <input type="checkbox" ng-model="species.visible" ng-change="toggleSample(species.name)"/>
            {{species.name}}
        </div>
        <hr>
        <div ng-repeat="species in taxonData.species | filter:speciesQuery | filter:!!species.visible">
            <input type="checkbox" ng-model="species.visible" ng-change="toggleSample(species.name)"/>
            {{species.name}}
        </div>

    </div>
</body>

</html>
